out/**
*.md
!README.md
content/*.*
content/cv.*
content/cl.*
!content/*.en-example.typ
!content/*.de-example.typ
!content/*.typ.example
!content/cv.de-example.typ
!content/cv.en-example.typ
!content/cl.de-example.typ
!content/cl.en-example.typ

assets/**
!assets/icons/
!assets/logos/
!assets/icons/**
!assets/logos/example.svg
!assets/photo-placeholder.svg

!out/cv-john_doe-en.pdf

.idea